<%- include ("header") -%>

        <div class="container-fluid">
            <div class="row regularDiv">
                <div class="col-lg-7 mtop10">
                    <h1 class="sans big darkBlue">Welcome to YOUR Crypto portfolio!</h1>
                    <p class="sans">Here you will be able to monitor your CryptoCurrencies balance in real-time,<br /> calculate your Play2Earn Games ROI and much more!</p>
                    <a href="/portfolio" class="btn btn-dark btn-lg"><i class="fas fa-desktop"></i> Portfolio on PC</a>
                    <a href="#" class="btn btn-light btn-lg"><i class="fab fa-android"></i> Download</a>
                    <a href="#" class="btn btn-light btn-lg"><i class="fab fa-apple"></i> Download</a>
                </div>
                <div class="col-lg-4">
                    <img class="eth" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Ethereum-icon-purple.svg/800px-Ethereum-icon-purple.svg.png" alt="ETH">
                </div>
            </div>
        </div>
    </body>
<%- include("footer") -%>
</html>
