<%- include ("header") -%>

        <form action="/portfolio" method="post">
            <label for="contractInput">Crypto Contract: </label>
            <input id="contractInput" type="text" name="cryptoContract">
            <button type="submit" name="submit">Submit</button>
        </form>
        <ul>
            <% for(var i = 0; i < cryptoNames.length; i++){ %>
                <li> <%= cryptoNames[i] %> current price is: <%= cryptoPrices[i] %> </li>
            <%}%>
        </ul>
    </body>
<%- include("footer") -%>
</html>
