/* General Tags */
body{
    background-color: #A6B1E1;
}

p{
    font-size: 1.5rem;
}

/* Font Selectors */
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.sans {
    font-family: 'Josefin Sans', sans-serif;
}

.bold{
    font-weight: bold;
}

/* Positioning Selectors */
.navPad{
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.regularDiv{
    padding-bottom: 200px;
    padding-top: 100px;
    margin-left: 15%;
}

.regularPad{
    padding-bottom: 200px;
    padding-top: 100px;
}
.removePad{
    padding: 0;
}


/* Color Selectors */
.white{
    color: #F4EEFF;
}
.darkBlue{
    color: #424874;
}
.lightBlue{
    color: #DCD6F7;
}


.navbar-brand:hover{
    color: #A6B1E1;
}
.nav-link:hover{
    color: #A6B1E1;
}
.bg-custom{
    background-color: #424874;
}
.big{
    font-size: 3.50rem;
}
.medium{
    font-size: 1.5rem;
}
.eth{
    width: 400px;
    height: 400px;
}


.coloredDiv{
    background-color: #424874;
}

.mtop10{
    margin-top: 10%;
}

.width50{
    width: 40%
}
.profile-photo{
    width:25%;
    height:50%;
}
/* icons */

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?99d34h');
  src:  url('/fonts/icomoon.eot?99d34h#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?99d34h') format('truetype'),
    url('/fonts/icomoon.woff?99d34h') format('woff'),
    url('/fonts/icomoon.svg?99d34h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 3.5rem;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-metamask-3:before {
  content: "\6d";
  color:#292b2c;
}
